.mark {
  transition: "box-shadow 0.2s ease-in-out";
  border-radius: 2;
}

.mark:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.componentLabel {
  position: absolute;
  top: -18px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.componentNode {
  border-radius: 2;
  background: #D9D9D9;
}

button.toolbarButton {
  display: flex;
  justify-content: center;
  background: #D9D9D9;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  padding: 5px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  z-index: 1000;
  transition: all 100ms ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

button.toolbarButton:hover {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

button.toolbarButton:active {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6) inset;
}