div.panelContainer {
  background-color: white;
  width: 200px;
  position: relative;
  height: 100vh;
  padding: 15px;
  z-index: 100;
  border-right: 2px solid #e5e5e5;
}

div.codeViewContainer {
  transition: transform 150ms ease;
  background-color: rgb(40, 44, 52);
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 50;
  border-right: 2px solid #e5e5e5;
}

div.codeViewContainer.hidden {
  transform: translateX(-100%);
}

div.codeViewPath {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-align: left;
  padding: 5px 2px 5px 35px;
  color: #d4d4d4;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

div.controlContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: -282px;
  width: 280px;
  height: 50px;
  gap: 4px;
  z-index: 50;
  border-radius: 4px;
  background-color: white;
  transition: all 100ms ease;
}

button.control {
  border-radius: 4px;
  margin: 0;
  padding: 5px;
  background-color: rgb(125 211 252);
  color: white;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease;
}

button.control:hover {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

button.control:active {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6) inset;
}

button.codeViewHandle {
  width: 28px;
  padding: 2px;
  padding-top: 4px;
  margin: 0px;
  z-index: 50;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  color: rgb(7 89 133);
  font-weight: bold;
  transition: all 100ms ease;
}

button.codeViewHandle:hover {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

button.codeViewHandle:active {
  color: rgb(125 211 252);
  background-color: rgb(7 89 133);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6) inset;
}

div.appTitle {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

div.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 180px;
  gap: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0 0, 0, 0.2);
}

div.legendItemContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.legendTitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-shadow: 0 1px 2px rgba(0 0, 0, 0.2);
}

.react-flow__node-state,
.react-flow__node-prop {
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.react-flow__node-component,
.react-flow__node-expanded {
  border: 1px solid #f0f0f0;
  border-radius: 11px;
}

.react-flow__node-effect {
  opacity: 0.95;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.unfocused {
  opacity: 0.2;
}

.clicked {
  box-shadow: 0 4px 6px -1px rgba(0 0 0 / 0.07);
  opacity: 1;
  font-weight: bold;
  /* text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}

.refered {
  box-shadow: 0 4px 6px -1px rgba(0 0 0 / 0.07);
  font-weight: bold;
  /* text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); */
}
